.contents .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.choicesWrap {
  display: flex;
  justify-content: space-between;
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .contents {
    margin: 0 auto;
    padding: 15px 20px;
    box-sizing: border-box;
  }
  .choicesWrap {
    display: block;
  }
  .cardWrap {
    display: block;
  }
}
