.contents {
  max-width: 1440px;
  padding: 20px 40px;
  background-color: hsl(0, 0%, 98%);
}

.choicesWrap {
  display: flex;
  justify-content: space-between;
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
}