.card {
  width: 335px;
  min-height: 280px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(180, 180, 180, .2);
  .flag {
    width: 100%;
    /* height: 160px; */
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px 5px 0 0;
    }
  }
  .description {
    font-size: 14px;
    padding: 10px 15px;
    .countryName {
      font-weight: 800;
      padding-bottom: 10px;
    }
    .population,
    .region,
    .capital {
      line-height: 1.7em;
    }
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 100%;
    height: auto;
    .flag {
      width: 100%;
      height: auto;
    }
    .description {
      font-size: 18px;
      padding: 20px 30px 40px;
    }
  }
}
