.inputBox {
  display: flex;
  width: 350px;
  margin: 30px 0;
  padding: 0;
  height: 47px;
}

.iconSearch {
  margin-left: 16px;
}
.searchIcon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: hsl(0, 0%, 52%);
}
.searchBox {
  width: 450px;
  padding: 20px 40px 20px;
  border: none;
  margin-left: -16px;
  font-size: 14px;
  background: hsl(0, 0%, 100%);
  box-shadow: 3px 3px 4px rgba(180, 180, 180, .2);
  border-radius: 3px;
  color: hsl(0, 0%, 52%);
}
.searchBox:focus {
  outline:0;
}

@media screen and (max-width: 375px) {
  .inputBox {
    width: 100%;
    margin: 15px 0;
  }
  .searchBox {
    width: 100%;
  }
}