.app {
  background-color: hsl(0, 0%, 98%);
  width: 1440px;
  height: 100%;
  /* height: 100vh; */
  color:hsl(200, 15%, 8%);
}

@media screen and (max-width: 375px) {
  .app {
    width: 375px;
  }
}
