@import "./assets/_palette.sass";

.app.dark {
  background: $verydarkblue;
  color: $white;
  
  header{
    background: $darkblue;
    box-shadow: 0 3px 4px $shadowHeader;
  }

  .contents{
    background: $verydarkblue;
  }

  .card,
  .searchBox,
  .selectTitle,
  .selectList {
    background: $darkblue;
    box-shadow: 3px 3px 4px $shadowInput;
  }
  .backBtn,
  .borderCountry{
    background: $darkblue;
    box-shadow: 0 0 4px 1px $shadowInput;
    color: $white;
  }
  .selectList li {
    background: $darkblue;
    color: $white;
  }
}



